*{
   margin:0;
   padding:0;
   color:white;
}

@font-face{
    font-family:"myfont";
    src:url("fonts/odstemplik/odstemplik.otf") format("opentype"), url("fonts/odstemplik/odstemplikBold.otf") format("opentype")
}

.top-img{
    background-image:url("imgs/img01.jpg"); 
    background-size: cover;
    background-attachment: fixed;
}

.top-text{
    text-align:center;
    padding:250px 0;
}

.top-text h1{
    font-size:100px;
    font-family: "myfont";
}

nav h3{
    font-family:"myfont";
    src:url("fonts/odstemplik/odstemplik.otf")format("opentype"),url("fonts/odstemplik/odstemplikBold.otf")format("opentype")
}

nav .fas,nav .far{
    color:#888;
}

.night-sky {
    background-image: url("imgs/fix-bg.jpg");
    padding:200px 0;
    text-align:center;
    background-attachment: fixed;
}

.night-sky h2{
    font-family: "myfont";
    font-size:80px;
    margin-bottom: 40px;
}

.carousel-item{
    height:500px;
}

.service-list{
    background-color: #333;
    padding:50px;
}

.service-list h2{
    text-align:center;
    font-family: "myfont";
    font-size:80px;
}

.info{
    border:solid 2px white;
}

.icon{
    font-size: 100px;
    padding:20px; 
}

footer{
    background-color: #333;
    padding:30px;
}

footer p{
    text-align: right;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    color:#aaa;
    font-size:15px;
}

footer ul li a:hover{
    color:#fff;
    text-decoration: none;
}
